body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}
.borderStyle{
    border: solid 2px black;
    margin: 5px;
    flex-grow: 1;
}

body header{
    height: 50px;
    display: flex;
    flex-direction: row;
}

header #mainHeader {
    flex-grow: 9;
}
header #logOut{
    flex-grow: 1;
}

body main{
    height: 87vh;
    display: flex;
    flex-direction: row;
}

main #sideBarLeft{
    flex-grow: 1;
}
main #mainContent{
    flex-grow: 8;
}
main #sideBarRight{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
main #sideBarRight .borderStyle{
    flex-grow: 1;
}


body footer{
    display: flex;
    height: 50px;
}
header #logOut{
    flex-grow: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
   body main{
        display: flex;
        flex-direction: column;
    }
    main #sideBarRight .borderStyle{
        display: none;
    }
    header #logOut{
        display: none;
        
    }
    main #sideBarRight{
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}